*.o
Makefile
config/.config
config/.tmpconfig.h
config/autom4te.cache/
config/config-sh
config/config.h
config/config.log
config/.config.old
config/config.status
config/configuretool
config/setup.h
config/stamp-h
doc/stamp-m
include/patchlist.h
ircd/chkconf
ircd/crypt/.checksums
ircd/ircd
ircd/stamp-m
ircd/version.c
